<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CountryID</key>
		<string>1</string>
		<key>Name</key>
		<string>Alaska</string>
		<key>ShortName</key>
		<string>AK</string>
		<key>StateID</key>
		<string>1</string>
	</dict>
	<dict>
		<key>CountryID</key>
		<string>1</string>
		<key>Name</key>
		<string>Alabama</string>
		<key>ShortName</key>
		<string>AL</string>
		<key>StateID</key>
		<string>2</string>
	</dict>
	<dict>
		<key>CountryID</key>
		<string>1</string>
		<key>Name</key>
		<string>Arkansas</string>
		<key>ShortName</key>
		<string>AR</string>
		<key>StateID</key>
		<string>3</string>
	</dict>
	<dict>
		<key>CountryID</key>
		<string>1</string>
		<key>Name</key>
		<string>Arizona</string>
		<key>ShortName</key>
		<string>AZ</string>
		<key>StateID</key>
		<string>4</string>
	</dict>
	<dict>
		<key>CountryID</key>
		<string>1</string>
		<key>Name</key>
		<string>California</string>
		<key>ShortName</key>
		<string>CA</string>
		<key>StateID</key>
		<string>5</string>
	</dict>
	<dict>
		<key>CountryID</key>
		<string>1</string>
		<key>Name</key>
		<string>Colorado</string>
		<key>ShortName</key>
		<string>CO</string>
		<key>StateID</key>
		<string>6</string>
	</dict>
	<dict>
		<key>CountryID</key>
		<string>1</string>
		<key>Name</key>
		<string>Connecticut</string>
		<key>ShortName</key>
		<string>CT</string>
		<key>StateID</key>
		<string>7</string>
	</dict>
	<dict>
		<key>CountryID</key>
		<string>1</string>
		<key>Name</key>
		<string>District Of Columbia</string>
		<key>ShortName</key>
		<string>DC</string>
		<key>StateID</key>
		<string>8</string>
	</dict>
	<dict>
		<key>CountryID</key>
		<string>1</string>
		<key>Name</key>
		<string>Delaware</string>
		<key>ShortName</key>
		<string>DE</string>
		<key>StateID</key>
		<string>9</string>
	</dict>
	<dict>
		<key>CountryID</key>
		<string>1</string>
		<key>Name</key>
		<string>Florida</string>
		<key>ShortName</key>
		<string>FL</string>
		<key>StateID</key>
		<string>10</string>
	</dict>
	<dict>
		<key>CountryID</key>
		<string>1</string>
		<key>Name</key>
		<string>Georgia</string>
		<key>ShortName</key>
		<string>GA</string>
		<key>StateID</key>
		<string>11</string>
	</dict>
	<dict>
		<key>CountryID</key>
		<string>1</string>
		<key>Name</key>
		<string>Hawaii</string>
		<key>ShortName</key>
		<string>HI</string>
		<key>StateID</key>
		<string>12</string>
	</dict>
	<dict>
		<key>CountryID</key>
		<string>1</string>
		<key>Name</key>
		<string>Iowa</string>
		<key>ShortName</key>
		<string>IA</string>
		<key>StateID</key>
		<string>13</string>
	</dict>
	<dict>
		<key>CountryID</key>
		<string>1</string>
		<key>Name</key>
		<string>Idaho</string>
		<key>ShortName</key>
		<string>ID</string>
		<key>StateID</key>
		<string>14</string>
	</dict>
	<dict>
		<key>CountryID</key>
		<string>1</string>
		<key>Name</key>
		<string>Illinois</string>
		<key>ShortName</key>
		<string>IL</string>
		<key>StateID</key>
		<string>15</string>
	</dict>
	<dict>
		<key>CountryID</key>
		<string>1</string>
		<key>Name</key>
		<string>Indiana</string>
		<key>ShortName</key>
		<string>IN</string>
		<key>StateID</key>
		<string>16</string>
	</dict>
	<dict>
		<key>CountryID</key>
		<string>1</string>
		<key>Name</key>
		<string>Kansas</string>
		<key>ShortName</key>
		<string>KS</string>
		<key>StateID</key>
		<string>17</string>
	</dict>
	<dict>
		<key>CountryID</key>
		<string>1</string>
		<key>Name</key>
		<string>Kentucky</string>
		<key>ShortName</key>
		<string>KY</string>
		<key>StateID</key>
		<string>18</string>
	</dict>
	<dict>
		<key>CountryID</key>
		<string>1</string>
		<key>Name</key>
		<string>Louisiana</string>
		<key>ShortName</key>
		<string>LA</string>
		<key>StateID</key>
		<string>19</string>
	</dict>
	<dict>
		<key>CountryID</key>
		<string>1</string>
		<key>Name</key>
		<string>Massachusetts</string>
		<key>ShortName</key>
		<string>MA</string>
		<key>StateID</key>
		<string>20</string>
	</dict>
	<dict>
		<key>CountryID</key>
		<string>1</string>
		<key>Name</key>
		<string>Maryland</string>
		<key>ShortName</key>
		<string>MD</string>
		<key>StateID</key>
		<string>21</string>
	</dict>
	<dict>
		<key>CountryID</key>
		<string>1</string>
		<key>Name</key>
		<string>Maine</string>
		<key>ShortName</key>
		<string>ME</string>
		<key>StateID</key>
		<string>22</string>
	</dict>
	<dict>
		<key>CountryID</key>
		<string>1</string>
		<key>Name</key>
		<string>Michigan</string>
		<key>ShortName</key>
		<string>MI</string>
		<key>StateID</key>
		<string>23</string>
	</dict>
	<dict>
		<key>CountryID</key>
		<string>1</string>
		<key>Name</key>
		<string>Minnesota</string>
		<key>ShortName</key>
		<string>MN</string>
		<key>StateID</key>
		<string>24</string>
	</dict>
	<dict>
		<key>CountryID</key>
		<string>1</string>
		<key>Name</key>
		<string>Missouri</string>
		<key>ShortName</key>
		<string>MO</string>
		<key>StateID</key>
		<string>25</string>
	</dict>
	<dict>
		<key>CountryID</key>
		<string>1</string>
		<key>Name</key>
		<string>Mississippi</string>
		<key>ShortName</key>
		<string>MS</string>
		<key>StateID</key>
		<string>26</string>
	</dict>
	<dict>
		<key>CountryID</key>
		<string>1</string>
		<key>Name</key>
		<string>Montana</string>
		<key>ShortName</key>
		<string>MT</string>
		<key>StateID</key>
		<string>27</string>
	</dict>
	<dict>
		<key>CountryID</key>
		<string>1</string>
		<key>Name</key>
		<string>North Carolina</string>
		<key>ShortName</key>
		<string>NC</string>
		<key>StateID</key>
		<string>28</string>
	</dict>
	<dict>
		<key>CountryID</key>
		<string>1</string>
		<key>Name</key>
		<string>North Dakota</string>
		<key>ShortName</key>
		<string>ND</string>
		<key>StateID</key>
		<string>29</string>
	</dict>
	<dict>
		<key>CountryID</key>
		<string>1</string>
		<key>Name</key>
		<string>Nebraska</string>
		<key>ShortName</key>
		<string>NE</string>
		<key>StateID</key>
		<string>30</string>
	</dict>
	<dict>
		<key>CountryID</key>
		<string>1</string>
		<key>Name</key>
		<string>New Hampshire</string>
		<key>ShortName</key>
		<string>NH</string>
		<key>StateID</key>
		<string>31</string>
	</dict>
	<dict>
		<key>CountryID</key>
		<string>1</string>
		<key>Name</key>
		<string>New Jersey</string>
		<key>ShortName</key>
		<string>NJ</string>
		<key>StateID</key>
		<string>32</string>
	</dict>
	<dict>
		<key>CountryID</key>
		<string>1</string>
		<key>Name</key>
		<string>New Mexico</string>
		<key>ShortName</key>
		<string>NM</string>
		<key>StateID</key>
		<string>33</string>
	</dict>
	<dict>
		<key>CountryID</key>
		<string>1</string>
		<key>Name</key>
		<string>Nevada</string>
		<key>ShortName</key>
		<string>NV</string>
		<key>StateID</key>
		<string>34</string>
	</dict>
	<dict>
		<key>CountryID</key>
		<string>1</string>
		<key>Name</key>
		<string>New York</string>
		<key>ShortName</key>
		<string>NY</string>
		<key>StateID</key>
		<string>35</string>
	</dict>
	<dict>
		<key>CountryID</key>
		<string>1</string>
		<key>Name</key>
		<string>Ohio</string>
		<key>ShortName</key>
		<string>OH</string>
		<key>StateID</key>
		<string>36</string>
	</dict>
	<dict>
		<key>CountryID</key>
		<string>1</string>
		<key>Name</key>
		<string>Oklahoma</string>
		<key>ShortName</key>
		<string>OK</string>
		<key>StateID</key>
		<string>37</string>
	</dict>
	<dict>
		<key>CountryID</key>
		<string>1</string>
		<key>Name</key>
		<string>Oregon</string>
		<key>ShortName</key>
		<string>OR</string>
		<key>StateID</key>
		<string>38</string>
	</dict>
	<dict>
		<key>CountryID</key>
		<string>1</string>
		<key>Name</key>
		<string>Pennsylvania</string>
		<key>ShortName</key>
		<string>PA</string>
		<key>StateID</key>
		<string>39</string>
	</dict>
	<dict>
		<key>CountryID</key>
		<string>1</string>
		<key>Name</key>
		<string>Rhode Island</string>
		<key>ShortName</key>
		<string>RI</string>
		<key>StateID</key>
		<string>40</string>
	</dict>
	<dict>
		<key>CountryID</key>
		<string>1</string>
		<key>Name</key>
		<string>South Carolina</string>
		<key>ShortName</key>
		<string>SC</string>
		<key>StateID</key>
		<string>41</string>
	</dict>
	<dict>
		<key>CountryID</key>
		<string>1</string>
		<key>Name</key>
		<string>South Dakota</string>
		<key>ShortName</key>
		<string>SD</string>
		<key>StateID</key>
		<string>42</string>
	</dict>
	<dict>
		<key>CountryID</key>
		<string>1</string>
		<key>Name</key>
		<string>Tennessee</string>
		<key>ShortName</key>
		<string>TN</string>
		<key>StateID</key>
		<string>43</string>
	</dict>
	<dict>
		<key>CountryID</key>
		<string>1</string>
		<key>Name</key>
		<string>Texas</string>
		<key>ShortName</key>
		<string>TX</string>
		<key>StateID</key>
		<string>44</string>
	</dict>
	<dict>
		<key>CountryID</key>
		<string>1</string>
		<key>Name</key>
		<string>Utah</string>
		<key>ShortName</key>
		<string>UT</string>
		<key>StateID</key>
		<string>45</string>
	</dict>
	<dict>
		<key>CountryID</key>
		<string>1</string>
		<key>Name</key>
		<string>Virginia</string>
		<key>ShortName</key>
		<string>VA</string>
		<key>StateID</key>
		<string>46</string>
	</dict>
	<dict>
		<key>CountryID</key>
		<string>1</string>
		<key>Name</key>
		<string>Vermont</string>
		<key>ShortName</key>
		<string>VT</string>
		<key>StateID</key>
		<string>47</string>
	</dict>
	<dict>
		<key>CountryID</key>
		<string>1</string>
		<key>Name</key>
		<string>Washington</string>
		<key>ShortName</key>
		<string>WA</string>
		<key>StateID</key>
		<string>48</string>
	</dict>
	<dict>
		<key>CountryID</key>
		<string>1</string>
		<key>Name</key>
		<string>Wisconsin</string>
		<key>ShortName</key>
		<string>WI</string>
		<key>StateID</key>
		<string>49</string>
	</dict>
	<dict>
		<key>CountryID</key>
		<string>1</string>
		<key>Name</key>
		<string>West Virginia</string>
		<key>ShortName</key>
		<string>WV</string>
		<key>StateID</key>
		<string>50</string>
	</dict>
	<dict>
		<key>CountryID</key>
		<string>1</string>
		<key>Name</key>
		<string>Wyoming</string>
		<key>ShortName</key>
		<string>WY</string>
		<key>StateID</key>
		<string>51</string>
	</dict>
</array>
</plist>
